* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
}

.inputBox {
    border: solid 1px;
    margin: 50px;
    width: 400px;
    height: 400px;
    padding: 10px;
    font-size: x-large;
    resize: none;
}

.submit {
    width: 50px;
    height: 30px;
}

.outputBox {
    border: solid 1px;
    margin: 50px;
    width: 400px;
    height: 400px;
    padding: 10px;
    font-size: x-large;
}